{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dog or Cat Classification</title>
	<link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.css">
	<link rel="stylesheet" href="{% static "pet/css/style.css" %}">
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
		  <a class="navbar-brand" href="/">
			<div class="d-flex align-items-center">
				<img width="32" height="32" class="mr-2" src="{% static "pet/images/logo.png" %}" alt="home" />
				<span class="font-weight-bold">Dog-Cat Classifier</span>
			</div>
		  </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about">About</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

	  <section class="mt-5" class="output-section">
		<div class="container d-flex flex-column align-items-center justify-content-center">
			<div class="pet-wrapper">
				{% if result == 'cat' %}
				<img class="request-image" src="https://www.purina.co.uk/sites/default/files/2020-12/Understanding%20Your%20Cat%27s%20Body%20LanguageHERO.jpg">
				{% endif %}
				
				{% if result == 'dog' %}
				<img class="request-image" src="https://media.cnn.com/api/v1/images/stellar/prod/220818142713-dogs-tears-emotions-wellness-stock.jpg?c=original">
				{% endif %}
				
			</div>
			<div>
				<h1 class="text-center mt-3">
					Image is classified as a 
					<span class="text-warning font-weight-bold">
						{{ result }}
					</span>
				</h1>
			</div>
		</div>
	  </section>

	  <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>